%ul{:class => 'tabs'}
  %li{:class => 'selected'}
    %a{:href => '/week'} This Week
  %li
    %a{:href => '/next'} Next
  %li
    %a{:href => '/new'} New Event

%h3
  - if @period[:to]
    = "This Week - from #{day_and_month(@period[:from])} to #{day_and_month(@period[:to])}"
  - else
    = "Next Events - from #{day_and_month(@period[:from])}"

.events
  - @events_per_day.sort.each do |date, events|
    .day
      .when
        .day.left-side= day_and_month(date)
        .of-week.right-side= week_day(date)

      - events.sort_by { |event| event.start_at }.each do |event|
        .event
          .time.left-side= time_of(event)
          .what.right-side= event.title
          .description.right-side
            %p= event.description
          .who.right-side
            - event.participants.each do |participant|
              %a{:href=>'#'}= participant.name
